nav {
    border-right: 1px solid lightgray;
    min-width: fit-content;
    width: 300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav ul li{
    padding: 10px 0;
    background-color: lightgrey;
    border-bottom: 3px solid gray;
}

nav input {
    width: 100%;
    margin : 20px 0;
}

.navList {
    padding: 15px;
}

.filters{
    width: 100%;
    border-top: 1px solid lightgray;
}

.filters h3, h1{
    margin-left: 20px;
}

.radioTileGroup{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    gap: 10px;
}

.radioTileGroup h3{
    align-self: flex-start;
}

.inputContainer{
    position: relative;
    height: 35px;
    width: 100%;
}

.inputContainer input{
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin: 0;
    z-index: 2;
    opacity: 0;
}

.inputContainer .radioTile{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    transition: color 0.1s;
    background-color: lightgray;
    border-bottom: 3px solid gray;
    border-radius: 5px;
}

input + .radioTile::after{
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    background-color: transparent;
}

input:checked + .radioTile {
    position: relative;
    border: none;
    background-color: rgb(160, 160, 160);
    border-top: 3px solid gray;
    color: white;
}

input:checked + .radioTile::after{

    position: absolute;
    left: -8px;
    content: "";
    height: 50%;
    width: 5px;
    background-color: gray;
    border-radius: 5px;
}