@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    background-color: rgb(238, 238, 238);
}

.btnValidation{
    background-color: rgb(155, 235, 131);
    border-radius: 5px;
    padding: 2px;
    margin: 5px 15px;
}

.btnValidation:hover{
    filter: brightness(90%);
}

.btnValidation:active{
    filter: brightness(70%);
}

.btnDelete, .btnClose{
    background-color: rgb(255, 141, 121);
    border-radius: 5px;
    margin: 5px 15px;
}

.btnDelete:hover, .btnClose:hover{
    filter: brightness(90%);
}

.btnDelete:active, .btnClose:active{
    filter: brightness(70%);
}