.tasksContainer{
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.task{
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.task:last-child{
    animation: slideDown 0.2s;
}

@keyframes slideDown {
    0%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
    }
}

.task::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    transform-origin: bottom right;
}

.taskInfo {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    height: 100%;
    padding: 5px 15px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    transition: background-color 0.2s;
}

.taskInfo div{
    height: 20px;
}

.taskInfo:hover {
    cursor: pointer;
}

.taskInfo:active {
    background-color: rgb(221, 221, 221);
}

.echeanceContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.echeanceContainer p{
    margin: 0;
}